<div class="form-group {{if isValid 'has-success' ''}}">
  <label class="col-sm-3 control-label" for={{name}}>{{label}}</label>
  <div class="col-sm-9">
    <input type="text" class="form-control" id={{name}} value={{value}} readonly />
  </div>
</div>
